* {
          margin: 0;
          padding: 0;
}

.home {
          margin-top: 200px;
          margin-left: 100px;
}

.home .tag {
          cursor: pointer;
}

.home .tag button:hover {
          transform: translateX(10px);
          transition: transform 0.3s ease;
}

.home .tag button {
          font-size: 30px;
          width: 300px;
}

.home .tag span {
          color: red;
}

.home .tag p {
          margin-top: 30px;
          font-size: 18px;
}

.home .img {
          margin-top: 50px;
}

.home .img .button button:hover {
          transform: translateX(10px);
          transition: transform 0.3s ease;
}

.home .img .show {
          margin-bottom: 10px;
}

.home .img .show .data:hover {
          transform: translateY(-5px);
          transition: transform 0.3s ease;
}

.home .img .data {
          display: flex;
          flex-wrap: wrap;
}

.home .img .data .data-sub {
          width: 300px;
          margin-right: 50px;
          margin-bottom: 50px;
}

.home .img .data .data-sub img {
          width: 300px;
          border-radius: 10px;
          cursor: pointer;
}

.home .img .data .data-sub .deleteIcon {
          margin-left: 250px;
}

.home .img .data .data-sub .deleteIcon i {
          font-size: 30px;
          cursor: pointer;
          display: none;
}

.home .img .data .data-sub:hover i {
          display: block;
}

.home .img .button button {
          width: 300px;
          font-size: 30px;
          margin-bottom: 100px;
}

.home .tag .paragraph {
          margin-bottom: 50px;
}

.home .tag .paragraph .show {
          margin-bottom: 30px;
}

.home .tag .paragraph .edit button {
          margin-left: 0px;
}

.home .tag .paragraph .show .paragraphData .data {
          width: 700px;
          border-radius: 10px;
          padding-left: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-right: 10px;
          font-size: 20px;
          cursor: pointer;
          display: block;
          word-wrap: break-word;
          white-space: pre-wrap;
          padding-right: 20px;
}

.home .tag .paragraph .show .paragraphData .data:hover {
          background-color: rgb(209, 134, 134);
}

.home .tag .paragraph .show .paragraphData .data .delete {
          margin-left: 600px;
}

.home .tag .paragraph .show .paragraphData .data .delete i {
          padding-bottom: 20px;
          padding-top: 20px;
          font-size: 25px;
          display: none;
}

.home .tag .paragraph .show .paragraphData .data:hover i {
          display: block;
}