* {
          margin: 0;
          padding: 0;
}

#experience {
          margin-top: 100px;
          margin-left: 300px;
          transition: 0.3s;
          width: 700px;
          background-color: #fff;
          border-radius: 10px;
          margin-bottom: 100px;
          margin: 100px auto;
}

#experience:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

#experience h1 {
          color: rgb(219, 56, 56);
          margin-left: 100px;
          padding-top: 50px;
          padding-bottom: 50px;
          transition: 0.3s;
}

#experience:hover h1 {
          transform: scale(1.06);
          text-shadow: 0 0 10px;
}

#experience .form {
          margin-top: 20px;
          margin-left: 100px;
}

#experience .form label {
          font-size: 30px;
}

#experience .form input {
          width: 470px;
          height: 40px;
          border-radius: 10px;
          font-size: 30px;
          padding-left: 10px;
          border-top: none;
          background-color: #f5f5f5;
}

#experience .form input:focus {
          background-color: #fff;
}

#experience .form textarea {
          width: 470px;
          border-radius: 10px;
          font-size: 30px;
          padding-left: 10px;
          border-top: none;
          background-color: #f5f5f5;
}

#experience .form textarea:focus {
          background-color: #fff;
}

#experience .form button {
          width: 470px;
          font-size: 30px;
          margin-top: 50px;
          margin-bottom: 50px;
          border-radius: 10px;
          background-color: #1976d2;
          border: none;
}

#experience .form button:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

#experience .saveExperinece button {
          width: 470px;
          font-size: 30px;
          margin-bottom: 100px;
          margin-top: 50px;
          margin-left: 100px;
          border-radius: 10px;
          border: none;
          background-color: #198754;
          transition: 0.3s;
}

#experience .saveExperinece button:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}