* {
          margin: 0;
          padding: 0;
}

body {
          background-color: #f5f5f5;
}

.portfolio {
          margin-top: 100px;
          margin-left: 100px;
}

.portfolio .project h1 {
          color: rgb(211, 62, 62);
          text-decoration: underline;
          transition: 0.3s;
}

.portfolio .project h1:hover {
          transform: scale(1.06);
          text-shadow: 0 0 10px;
}

.portfolio .project .add {
          margin-top: 50px;
}

.portfolio .project .add .box {
          width: 300px;
          height: 300px;
          background-color: #fff;
          border-radius: 10px;
          cursor: pointer;
          text-align: center;
          transition: 0.3s;
}

.portfolio .project .add .box:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.portfolio .project .add .box i {
          cursor: pointer;
          text-align: center;
          font-size: 200px;
          margin-top: 50px;
          transition: 0.3s;
}

.portfolio .project .add .box:hover i {
          color: rgb(230, 80, 80);
          transform: scale(1.06);
          text-shadow: 0 0 10px;
          font-size: 210px;
}

.portfolio .project .show {
          margin-bottom: 50px;
          margin-top: 50px;
          display: flex;
          flex-wrap: wrap;
}

.portfolio .project .show .data {
          width: 300px;
          background-color: #f5bea3;
          border-radius: 10px;
          padding-bottom: 10px;
          margin-bottom: 50px;
          margin-right: 50px;
          cursor: pointer;
          transition: 0.3s;
}

.portfolio .project .show .data:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.portfolio .project .show .data img {
          width: 300px;
          height: 200px;
          border-radius: 10px;
          border-radius: 10px;
          cursor: pointer;
          transition: 0.3s;
}

.portfolio .project .show .data img:hover {
          transform: scale(1.2);
          box-shadow: 0 0 10px;
          border: 1px solid rgb(197, 100, 100);
}

.portfolio .project .show .data h2 {
          padding-left: 10px;
          padding-top: 20px;
          padding-bottom: 20px;
          cursor: pointer;
          transition: 0.3s;
}

.portfolio .project .show .data h2:hover {
          transform: scale(1.06);
          text-shadow: 0 0 10px;
          color: rgb(233, 72, 72);
}

.portfolio .project .show .data h3 {
          padding-left: 20px;
          padding-bottom: 20px;
          cursor: pointer;
          transition: 0.3s;
}


.portfolio .project .show .data h3:hover {
          transform: scale(1.06);
          text-shadow: 0 0 10px;
          color: rgb(233, 72, 72);
}


.portfolio .project .show .data:hover {
          background-color: #fff;
          flex-wrap: wrap;
          display: block;
          word-wrap: break-word;
          white-space: pre-wrap;
          padding-right: 30px;
}

.portfolio .project .show .data .deleteIcon {
          margin-left: 250px;
          padding-bottom: 20px;
          transition: 0.3s;
}

.portfolio .project .show .data .deleteIcon i {
          font-size: 25px;
          cursor: pointer;
          display: none;
          transition: 0.3s;
}

.portfolio .project .show .data:hover i {
          display: block;
}

.portfolio .project .show .data .deleteIcon i:hover {
          transform: scale(1.06);
          text-shadow: 0 0 10px;
          color: red;
          font-size: 30px;
}

.portfolio .project .show .data p {
          font-size: 23px;
          padding-left: 10px;
          padding-right: 10px;
          cursor: pointer;
          display: none;
}

.portfolio .project .show .data:hover p {
          display: block;
}






/* certificate */
.portfolio .certificate {
          margin-top: 200px;
          margin-bottom: 200px;
}

.portfolio .certificate h1 {
          color: rgb(192, 53, 53);
          text-decoration: underline;
          transition: 0.3s;
}

.portfolio .certificate h1:hover {
          transform: scale(1.06);
          text-shadow: 0 0 10px;
}


.portfolio .certificate .add .box {
          width: 300px;
          height: 300px;
          background-color: #fff;
          text-align: center;
          border-radius: 10px;
          cursor: pointer;
          transition: 0.3s;
}

.portfolio .certificate .add .box:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.portfolio .certificate .add .box i {
          font-size: 200px;
          margin-top: 50px;
          transition: 0.3s;
}

.portfolio .certificate .add .box:hover i {
          color: rgb(235, 84, 84);
          transform: scale(1.06);
          text-shadow: 0 0 10px;
}

.portfolio .certificate .show {
          margin-top: 50px;
          margin-bottom: 50px;
          display: flex;
          flex-wrap: wrap;
}

.portfolio .certificate .show .data {
          width: 300px;
          background-color: #f5bea3;
          border-radius: 10px;
          margin-bottom: 50px;
          margin-right: 50px;
          cursor: pointer;
          transition: 0.3s;
}

.portfolio .certificate .show .data:hover {
          background-color: #fff;
          flex-wrap: wrap;
          display: block;
          word-wrap: break-word;
          white-space: pre-wrap;
          padding-right: 30px;
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.portfolio .certificate .show .data img {
          width: 300px;
          border-radius: 10px;
          height: 200px;
          cursor: pointer;
          transition: 0.3s;
}

.portfolio .certificate .show .data img:hover {
          transform: scale(1.2);
          box-shadow: 0 0 10px;
          border: 1px solid rgb(219, 95, 95);
}

.portfolio .certificate .show .data h3 {
          padding-left: 10px;
          padding-top: 20px;
          padding-bottom: 20px;
          transition: 0.3s;
}

.portfolio .certificate .show .data h3:hover {
          transform: scale(1.06);
          text-shadow: 0 0 10px;
          color: rgb(228, 77, 77);
}

.portfolio .certificate .show .data p {
          font-size: 23px;
          padding-left: 10px;
          padding-right: 10px;
          cursor: pointer;
          display: none;
}

.portfolio .certificate .show .data:hover p {
          display: block;
}

.portfolio .certificate .show .data .deleteIcon {
          margin-left: 250px;
}

.portfolio .certificate .show .data .deleteIcon i {
          padding-bottom: 30px;
          font-size: 25px;
          cursor: pointer;
          transition: 0.3s;
}

.portfolio .certificate .show .data .deleteIcon i:hover {
          color: #ff4d4f;
          transform: scale(1.06);
          text-shadow: 0 0 10px;
}