* {
          margin: 0;
          padding: 0;
}

body {
          background-color: #f5f5f5;
}

.paragraphData {
          margin: 100px auto;
          background-color: #fff;
          border-radius: 10px;
          width: 700px;
          transition: 0.3s;
}

.paragraphData:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.paragraphData .main {
          margin-left: 100px;
}

.paragraphData .main h1 {
          padding-top: 50px;
          padding-bottom: 50px;
          transition: 0.3s;
          cursor: pointer;
}

.paragraphData:hover h1 {
          transform: scale(1.06);
          text-shadow: 0 0 10px;
}

.paragraphData .main .form label {
          font-size: 30px;
}

.paragraphData .main .form {
          margin-bottom: 30px;
}

.paragraphData .main .form textarea {
          width: 540px;
          font-size: 30px;
          border-top: none;
          padding-left: 10px;
          border-radius: 10px;
}

.paragraphData .main .form button {
          width: 540px;
          font-size: 30px;
          transition: 0.3s;
}

.paragraphData .main .form button:hover {
          box-shadow: 0 0 10px;
          transform: scale(1.06);
}

.paragraphData .save button {
          width: 540px;
          margin-left: 100px;
          font-size: 35px;
          margin-bottom: 50px;
          margin-top: 30px;
          transition: 0.3s;
}

.paragraphData .save button:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}