* {
          margin: 0;
          padding: 0;
}

.contact {
          margin-top: 100px;
          margin-left: 100px;
}

.contact .edit .contactEdit .box {
          width: 100px;
          height: 100px;
          background-color: aqua;
          text-align: center;
          border-radius: 10px;
          cursor: pointer;
}

.contact .contactEdit .box:hover {
          transform: translateX(10px);
          transition: transform 0.3s ease;
}

.contact .edit .contactEdit .box i {
          margin-top: 20px;
          font-size: 60px;
          cursor: pointer;
}

.contact .edit .contactEdit:hover .box {
          background-color: rgb(194, 71, 71);
          width: 105px;
          height: 105px;
}

.contact .edit .show {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 50px;
}

.contact .edit .show .data {
          width: 200px;
          background-color: aqua;
          margin-right: 50px;
          border-radius: 10px;
          cursor: pointer;
          flex-wrap: wrap;
          display: block;
          word-wrap: break-word;
          white-space: pre-wrap;
          padding-right: 30px;
}

.contact .edit .show .data img {
          width: 200px;
          height: 150px;
          cursor: pointer;
          border-radius: 10px;
}

.contact .edit .show .data h3 {
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 10px;
          cursor: pointer;
          display: none;
}

.contact .edit .show .data:hover h3 {
          display: block;
}

.contact .edit .show .data:hover {
          background-color: rgb(194, 71, 71);

}

.contact .edit .show .data .deleteIcon {
          text-align: center;
}

.contact .edit .show .data .deleteIcon i {
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 25px;
          display: none;
          cursor: pointer;
}

.contact .edit .show .data:hover i {
          display: block;
}

.contact .anyQuestion {
          margin-top: 200px;
          margin-left: 300px;
}

.contact .anyQuestion h1 {
          color: rgb(212, 55, 87);
}

.contact .anyQuestion p {
          color: red;
          margin-top: 20px;
          margin-left: 100px;
}

.contact .anyQuestion .form {
          margin-top: 20px;
}

.contact .anyQuestion .form label {
          font-size: 30px;
}

.contact .anyQuestion .form input {
          font-size: 30px;
          border-radius: 10px;
          width: 500px;
          padding-left: 10px;
}

.contact .anyQuestion .form textarea {
          font-size: 30px;
          border-radius: 10px;
          width: 500px;
          padding-left: 10px;
}
.contact .anyQuestion .form button{
          width: 500px;
          font-size: 30px;
          margin-bottom: 400px;
}