* {
          margin: 0;
          padding: 0;
}

body {
          background-color: #f5f5f5;
}

.about {
          margin-left: 50px;
}

.about .left {
          margin-left: 50px;
}

.about .left h3 {
          margin-top: 170px;
          transition: 0.3s;
          width: 1010px;
          border-radius: 10px;
          padding-left: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
          flex-wrap: wrap;
          word-wrap: break-word;
}

.about .left h3:hover {
          transform: scale(1.05);
          box-shadow: 0 0 10px;
          background-color: #fff;
}

.about .left h3 span {
          color: red;
          cursor: pointer;
}

.about .left h3 .show .showData .data {
          /* background-color:#eb8e91; */
          width: 900px;
          border-radius: 10px;
          padding-left: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          cursor: pointer;
          word-wrap: break-word;
}

.about .left h3 .show .showData .data:hover {
          background-color: #f5f5f5;
}

.about .left h3 .show .showData .data .delete {
          margin-left: 800px;
}

.about .left h3 .show .showData .data .delete i {
          color: black;
          display: none;
          transition: 0.3s;
}

.about .left h3 .show .showData .data .delete i:hover {
          transform: scale(1.06);
          text-shadow: 0 0 10px;
          color: red;
}

.about .left h3 .show .showData .data:hover i {
          display: block;
}

.about .left .editHeading button {
          width: 300px;
          font-size: 30px;
          margin-top: 20px;
          border-radius: 10px;
          border: none;
          background-color: #0d6efd;
          transition: 0.3s;
}

.about .left .editHeading button:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.about .left p {
          color: rgb(51, 42, 42);
          font-size: 15px;
}

.about .left .paragraphAbout {
          margin-left: 0;
          margin-top: 50px;
          margin-bottom: 50px;
}

.about .left .paragraphAbout .edit button {
          font-size: 30px;
          width: 300px;
          margin-top: 20px;
          border-radius: 10px;
          border: none;
          background-color: #1976d2;
          transition: 0.3s;
}

.about .left .paragraphAbout .edit button:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.about .left .paragraphAbout .show {
          margin-bottom: 30px;
}

.about .left .paragraphAbout .show .data {
          /* background-color: #eb8e91; */
          border-radius: 10px;
          padding: 10px 10px 10px 10px;
          margin-right: 100px;
          word-wrap: break-word;
          font-size: 18px;
          cursor: pointer;
          transition: 0.3s;
          width: 1000px;
}

.about .left .paragraphAbout .show .data:hover {
          background-color: #fff;
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.about .left .paragraphAbout .show .data .delete {
          margin-left: 900px;
}

.about .left .paragraphAbout .show .data .delete i {
          padding-top: 20px;
          padding-bottom: 20px;
          font-size: 30px;
          cursor: pointer;
          display: none;
          transition: 0.3s;
}

.about .left .paragraphAbout .show .data:hover i {
          display: block;
          transform: scale(1.06);
          text-shadow: 0 0 10px;
          color: red;
}

.about .right {
          margin-left: 60%;
          margin-top: 80px;
}

.about .right .skill {
          margin-top: 20px;
          margin-left: 20px;
}

.about .right .skill button {
          width: 400px;
          border-radius: 10px;
          border: none;
          background-color: #0d6efd;
          margin-top: 40px;
          margin-bottom: 50px;
          transition: 0.3s;
}

.about .right .skill button:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.about .right .skill button .addskillButton {
          font-size: 30px;
          color: black;
          text-decoration: none;
}

.about .right .skill .showSkill {
          margin-bottom: 30px;
          width: 300px;
}

.about .right .skill .showSkill .skillCSSHandle {
          width: 400px;
          background-color: red;
          border-radius: 10px;
          cursor: pointer;
          padding-top: 10px;
          padding-left: 20px;
          padding-bottom: 10px;
}

.about .right .skill .showSkill .skillCSSHandle:hover {
          background-color: #fff;
}

.about .right .skill .showSkill .skillCSSHandle .handle {
          flex-wrap: wrap;
          display: block;
          word-wrap: break-word;
          white-space: pre-wrap;
          padding-right: 30px;
}

.about .right .skill .showSkill .skillCSSHandle i {
          display: none;
          margin-left: 330px;
}

.about .right .skill .showSkill .skillCSSHandle:hover i {
          display: block;
}

.about .right .skill .showSkill .skillCSSHandle .handle {
          margin-left: 10px;
          font-size: 25px;
          margin-top: 10px;
          margin-bottom: 10px;
}


.about .personalInfo {
          margin-left: 50px;
          margin-top: 100px;
}

.about .personalInfo .editInfo button {
          height: 45px;
          border-radius: 10px;
          font-size: 30px;
          text-align: center;
          padding-left: 20px;
          padding-right: 20px;
          border: none;
          background-color: #0d6efd;
          transition: 0.3s;
          margin-top: 20px;
          margin-bottom: 50px;
}

.about .personalInfo .editInfo button:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
          font-size: 33px;
}

.about .personalInfo .editInfo .btn {
          font-size: 25px;
}

.about .personalInfo .showInfo {
          margin-top: 20px;
          margin-bottom: 30px;
}

.about .personalInfo .showInfo .showInfo-data:hover {
          transform: translateY(-5px);
          transition: transform 0.3s ease;
          background-color: #fff;
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.about .personalInfo .showInfo .showInfo-data {
          width: 500px;
          border-radius: 10px;
          padding-left: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          transition: 0.3s;
}

.about .personalInfo .showInfo .showInfo-data p {
          font-size: 23px;
          cursor: pointer;
          flex-wrap: wrap;
          display: block;
          word-wrap: break-word;
          white-space: pre-wrap;
          padding-right: 30px;
}


.about .education {
          margin-left: 50px;
          margin-bottom: 50px;
}

.about .education .education-part .edit-education {
          margin-top: 30px;
}

.about .education .education-part .edit-education button {
          width: 300px;
          font-size: 30px;
          transition: 0.3s;
          border-radius: 10px;
          background-color: #0d6efd;
          border: none;

}

.about .education .education-part .edit-education button:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.about .education .education-part .show-education {
          margin-top: 50px;
          margin-bottom: 50px;
}

.about .education .education-part .show-education .education-data {
          width: 550px;
          border-radius: 10px;
          margin-bottom: 30px;
          transition: 0.3s;
}

.about .education .education-part .show-education .education-data p {
          width: 550px;
          margin-left: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 25px;
          flex-wrap: wrap;
          display: block;
          word-wrap: break-word;
          white-space: pre-wrap;
          padding-right: 30px;
}

.about .education .education-part .show-education .education-data:hover {
          background-color: #fff;
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}


.about .education .education-part .show-education .education-data .deleteIcon {
          margin-left: 450px;
          padding-bottom: 20px;
}

.about .education .education-part .show-education .education-data .deleteIcon i {
          font-size: 30px;
          cursor: pointer;
          display: none;
          transition: 0.3s;
}

.about .education .education-part .show-education .education-data:hover i {
          display: block;
          transform: scale(1.06);
          text-shadow: 0 0 10px;
          color: red;
}



.about .experience {
          margin-left: 50px;
}

.about .experience .experience-content {
          margin-left: 50%;
          margin-top: 100px;
          margin-bottom: 200px;
}

.about .experience .experience-content .edit-experience button {
          width: 400px;
          font-size: 30px;
          border-radius: 10px;
          background-color: #0d6efd;
          border: none;
          transition: 0.3s;
}

.about .experience .experience-content .edit-experience button:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.about .experience .experience-content .show-experience {
          width: 500px;
}

.about .experience .experience-content .show-experience .show-data {
          width: 500px;
          border-radius: 10px;
          margin-bottom: 30px;
          padding-left: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
          transition: 0.3s;
}

.about .experience .experience-content .show-experience .show-data p {
          font-size: 30px;
          cursor: pointer;
          padding-right: 10px;
          flex-wrap: wrap;
          display: block;
          word-wrap: break-word;
          white-space: pre-wrap;
          padding-right: 30px;
}

.about .experience .experience-content .show-experience .show-data:hover {
          background-color: #fff;
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.about .experience .experience-content .show-experience .show-data .icon {
          margin-left: 430px;
          font-size: 25px;
}

.about .experience .experience-content .show-experience .show-data .icon i {
          padding-bottom: 20px;
          cursor: pointer;
          display: none;
          transition: 0.3s;
}

.about .experience .experience-content .show-experience .show-data:hover i {
          display: block;
          color: red;
          transform: scale(1.06);
          text-shadow: 0 0 10px;
}