* {
          margin: 0;
          padding: 0;
}

body {
          background-color: #f5f5f5;
}

.about {
          background-color: red;
          max-width: 1300px;
          margin: 0 auto;
          padding: 20px;
          border-radius: 10px;
          overflow: hidden;
          margin-bottom: 30px;
}

.about .container {
          padding-top: 50px;
          padding-right: 50px;
          max-width: 1200px;
          margin: 0 auto;
          background-color: black;
          margin-top: 50px;
          padding: 10px;
}

.about .container .left h3 {
          transition: 0.3s;
          border-radius: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          flex-wrap: wrap;
          word-wrap: break-word;
}

.about .container .left h3:hover {
          transform: scale(1.05);
          box-shadow: 0 0 10px;
          background-color: #fff;
}

.about .container .left h3 span {
          color: red;
          cursor: pointer;
}

.about .container .left h3 .show .showData .data {
          width: 1100px;
          border-radius: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          cursor: pointer;
          word-wrap: break-word;
}

.about .container .left h3 .show .showData .data:hover {
          background-color: #f5f5f5;
}

.about .container .left h3 .show .showData .data .delete {
          margin-left: 90%;
}

.about .container .left h3 .show .showData .data .delete i {
          color: black;
          display: none;
          transition: 0.3s;
}

.about .container .left h3 .show .showData .data .delete i:hover {
          transform: scale(1.06);
          text-shadow: 0 0 10px;
          color: red;
}

.about .container .left h3 .show .showData .data:hover i {
          display: block;
}

.about .container .left .editHeading button {
          width: 300px;
          font-size: 30px;
          margin-top: 20px;
          border-radius: 10px;
          border: none;
          background-color: #0d6efd;
          transition: 0.3s;
}

.about .container .left .editHeading button:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.about .container .left p {
          color: rgb(51, 42, 42);
          font-size: 15px;
}

.about .container .left .paragraphAbout {
          margin-top: 50px;
          margin-bottom: 50px;
}

.about .container .left .paragraphAbout .edit button {
          font-size: 30px;
          width: 300px;
          margin-top: 20px;
          border-radius: 10px;
          border: none;
          background-color: #1976d2;
          transition: 0.3s;
}

.about .container .left .paragraphAbout .edit button:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.about .container .left .paragraphAbout .show {
          margin-bottom: 30px;
}

.about .container .left .paragraphAbout .show .data {
          border-radius: 10px;
          padding: 10px 10px 10px 10px;
          margin-right: 100px;
          word-wrap: break-word;
          font-size: 18px;
          cursor: pointer;
          transition: 0.3s;
          width: 1100px;
}

.about .container .left .paragraphAbout .show .data:hover {
          background-color: #fff;
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.about .container .left .paragraphAbout .show .data .delete {
          margin-left: 90%;
}

.about .container .left .paragraphAbout .show .data .delete i {
          padding-top: 20px;
          padding-bottom: 20px;
          font-size: 30px;
          cursor: pointer;
          display: none;
          transition: 0.3s;
}

.about .container .left .paragraphAbout .show .data:hover i {
          display: block;
          transform: scale(1.06);
          text-shadow: 0 0 10px;
          color: red;
}

.about .container .right {
          margin-left: 50%;
          margin-bottom: 100px;
          margin-top: 100px;
          border-radius: 10px;
}

.about .container .right .skill .addSkill button {
          width: 400px;
          border-radius: 10px;
          border: none;
          background-color: #0d6efd;
          margin-top: 40px;
          margin-bottom: 50px;
          transition: 0.3s;
}

.about .container .right .skill .addSkill button:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.about .container .right .skill .addSkill button .addskillButton {
          font-size: 30px;
          color: black;
          text-decoration: none;
}

.about .container .right .skill .showSkill {
          margin-bottom: 30px;
          width: 539px;
}

.about .container .right .skill .showSkill .skillCSSHandle {
          width: 539px;
          border-radius: 10px;
          cursor: pointer;
          padding-top: 10px;
          padding-left: 20px;
          padding-bottom: 10px;
          transition: 0.3s;
          margin-bottom: 30px;
}

.about .container .right .skill .showSkill .skillCSSHandle:hover {
          background-color: #fff;
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.about .container .right .skill .showSkill .skillCSSHandle .handle {
          flex-wrap: wrap;
          display: block;
          word-wrap: break-word;
          white-space: pre-wrap;
          padding-right: 30px;
          width: 539px;
}

.about .container .right .skill .showSkill .skillCSSHandle i {
          display: none;
          margin-left: 80%;
          transition: 0.3s;
}

.about .container .right .skill .showSkill .skillCSSHandle i:hover {
          transform: scale(1.06);
          text-shadow: 0 0 10px;
          color: red;
}

.about .container .right .skill .showSkill .skillCSSHandle:hover i {
          display: block;
}

.about .container .right .skill .showSkill .skillCSSHandle .handle {
          font-size: 25px;
          margin-top: 10px;
          margin-bottom: 10px;
}


.about .container .personalInfo {
          margin-left: 0px;
          margin-top: 100px;
}

.about .container .personalInfo .editInfo button {
          height: 45px;
          border-radius: 10px;
          font-size: 30px;
          text-align: center;
          padding-left: 20px;
          padding-right: 20px;
          border: none;
          background-color: #0d6efd;
          transition: 0.3s;
          margin-top: 20px;
          margin-bottom: 50px;
}

.about .container .personalInfo .editInfo button:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
          font-size: 33px;
}

.about .container .personalInfo .editInfo .btn {
          font-size: 25px;
}

.about .container .personalInfo .showInfo {
          margin-top: 20px;
          margin-bottom: 30px;
}

.about .container .personalInfo .showInfo .showInfo-data:hover {
          transform: translateY(-5px);
          transition: transform 0.3s ease;
          background-color: #fff;
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.about .container .personalInfo .showInfo .showInfo-data {
          width: 600px;
          border-radius: 10px;
          padding-left: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          transition: 0.3s;
}

.about .container .personalInfo .showInfo .showInfo-data p {
          font-size: 23px;
          cursor: pointer;
          flex-wrap: wrap;
          display: block;
          word-wrap: break-word;
          white-space: pre-wrap;
          padding-right: 30px;
}


.about .container .education {
          margin-bottom: 50px;
}

.about .container .education .education-part .edit-education {
          margin-top: 30px;
}

.about .container .education .education-part .edit-education button {
          width: 300px;
          font-size: 30px;
          transition: 0.3s;
          border-radius: 10px;
          background-color: #0d6efd;
          border: none;

}

.about .container .education .education-part .edit-education button:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.about .container .education .education-part .show-education {
          margin-top: 50px;
          margin-bottom: 50px;
}

.about .container .education .education-part .show-education .education-data {
          width: 600px;
          border-radius: 10px;
          margin-bottom: 30px;
          transition: 0.3s;
}

.about .container .education .education-part .show-education .education-data p {
          width: 550px;
          margin-left: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 25px;
          flex-wrap: wrap;
          display: block;
          word-wrap: break-word;
          white-space: pre-wrap;
          padding-right: 30px;
}

.about .container .education .education-part .show-education .education-data:hover {
          background-color: #fff;
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}


.about .container .education .education-part .show-education .education-data .deleteIcon {
          margin-left: 450px;
          padding-bottom: 20px;
}

.about .container .education .education-part .show-education .education-data .deleteIcon i {
          font-size: 30px;
          cursor: pointer;
          display: none;
          transition: 0.3s;
}

.about .container .education .education-part .show-education .education-data:hover i {
          display: block;
          transform: scale(1.06);
          text-shadow: 0 0 10px;
          color: red;
}



.about .container .experience {
          margin-left: 50%;
          margin-top: 100px;
}

.about .container .experience .experience-content .edit-experience button {
          width: 400px;
          font-size: 30px;
          border-radius: 10px;
          background-color: #0d6efd;
          border: none;
          transition: 0.3s;
}

.about .container .experience .experience-content .edit-experience button:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.about .container .experience .experience-content .show-experience {
          width: 600px;
}

.about .container .experience .experience-content .show-experience .show-data {
          width: 600px;
          border-radius: 10px;
          margin-bottom: 30px;
          padding-left: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
          transition: 0.3s;
}

.about .container .experience .experience-content .show-experience .show-data p {
          font-size: 30px;
          cursor: pointer;
          padding-right: 10px;
          flex-wrap: wrap;
          display: block;
          word-wrap: break-word;
          white-space: pre-wrap;
          padding-right: 30px;
}

.about .container .experience .experience-content .show-experience .show-data:hover {
          background-color: #fff;
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.about .container .experience .experience-content .show-experience .show-data .icon {
          margin-left: 430px;
          font-size: 25px;
}

.about .container .experience .experience-content .show-experience .show-data .icon i {
          padding-bottom: 20px;
          cursor: pointer;
          display: none;
          transition: 0.3s;
}

.about .container .experience .experience-content .show-experience .show-data:hover i {
          display: block;
          color: red;
          transform: scale(1.06);
          text-shadow: 0 0 10px;
}