* {
          margin: 0;
          padding: 0;
}

body {
          background-color: #f5f5f5;
}

.editService {
          margin-top: 100px;
          margin-left: 300px;
          margin-bottom: 100px;
          width: 700px;
          background-color: #fff;
          border-radius: 10px;
          transition: 0.3s;
          margin: 100px auto;
}

.editService:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.editService h1 {
          padding-top: 50px;
          padding-left: 100px;
          color: rgb(219, 92, 92);
          transition: 0.3s;
}

.editService:hover h1{
          transform: scale(1.06);
          text-shadow: 0 0 10px;
}

.editService .form {
          margin-top: 20px;
          margin-left: 100px;
}

.editService .form label {
          font-size: 30px;
}

.editService .form input {
          font-size: 30px;
          width: 460px;
          height: 40px;
          border-radius: 10px;
          padding-left: 10px;
          border-top: none;
          background-color: #f5f5f5;
}

.editService .form input:focus {
          background-color: #fff;
}

.editService .form textarea {
          width: 460px;
          border-radius: 10px;
          padding-left: 10px;
          font-size: 30px;
          border-top: none;
          background-color: #f5f5f5;
}

.editService .form textarea:focus {
          background-color: #fff;
}

.editService .form button {
          width: 440px;
          font-size: 30px;
          margin-bottom: 50px;
          border: none;
          border-radius: 10px;
          background-color: #0d6efd;
}

.editService .form button:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}

.editService .saveService button {
          width: 460px;
          font-size: 35px;
          margin-bottom: 100px;
          margin-left: 100px;
          background-color: #198754;
          border: none;
          border-radius: 10px;
}

.saveService button:hover {
          transform: scale(1.06);
          box-shadow: 0 0 10px;
}