* {
          margin: 0;
          padding: 0;
}

.navbar {
          width: 1200px;
          height: 67px;
          margin: auto;
          /* background-color: red; */
}

.navbar .containerNavbar {
          display: flex;
          justify-content: space-between;
}

.navbar .containerNavbar .tab {
          margin-top: 0px;
          margin-right: 92px;
          transition: 0.3s ease;
          font-size: 30px;
          cursor: pointer;
          position: relative;
}

.navbar .containerNavbar .tab:hover {
          transform: scale(1.01);
          text-shadow: 0 0 10px;
}

.navbar .containerNavbar .tab img {
          width: 60px;
          height: 59px;
}

.navbar .containerNavbar .tab .avatar-main {
          color: rgb(202, 54, 54);
          background-color: #fff;
}

.navbar .containerNavbar .tab .avatar-manu {
          width: 300px;
          position: absolute;
          right: 0;
          background-color: #fff;
          border-radius: 10px;
          padding: 20px;
}

.navbar .containerNavbar .tab .avatar-main .avatarManu .avatarEmail {
          background-color: rgb(192, 95, 95);
          color: black;
          text-decoration: none;
}

.navbar .containerNavbar .tab .avatar-main .avatarManu .avatarEmail .avatarDec {
          text-decoration: none;
          color: black;
}